WebProto/Service References/ServiceReference1/WebService.MirrorClasses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService.MirrorClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService.MirrorClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserMirror">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TalentoHumano" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserMirror" nillable="true" type="tns:UserMirror" />
</xs:schema>